html, body{
    height: 100%;
    margin: 0;
}

.full-height{
    min-height: 100%;
}

.qty{
    border-radius: .25rem;
    vertical-align: middle;
    border:none;
    height: 38px;
    width: 52px;
}